#case study 1-getting started with python

Create a list containing squares of numbers from 1 to 10 (HINT: use List
Comprehension)

In [1]:
# Using list comprehension to generate squares of numbers from 1 to 10
squares = [x**2 for x in range(1, 11)]

# Printing the list of squares
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Write a function to check if the year number is a leap year

In [11]:
def is_leap_year(year):
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False
        # Test cases
print(is_leap_year(2020))  # True (2020 is a leap year)
print(is_leap_year(2021))  # False (2021 is not a leap year)
print(is_leap_year(2000))  # True (2000 is a leap year)
print(is_leap_year(1900))  # False (1900 is not a leap year)

True
False
True
False

Write a function to take an array and return another array that contains the
members of the first array that are even

In [12]:
def find_even_numbers(arr):
    even_numbers = [num for num in arr if num % 2 == 0]
    return even_numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = find_even_numbers(numbers)
print(even_numbers)

[2, 4, 6, 8, 10]

Write a function that takes 2 arrays and prints the members of the first
array that are present in the second array. (HINT: use Membership
Comprehension)

In [14]:
def find_common_elements(arr1, arr2):
    common_elements = [elem for elem in arr1 if elem in arr2]
    print("Common elements in arr1 and arr2:", common_elements)
array1 = [1, 2, 3, 4, 5]
array2 = [3, 4, 5, 6, 7]
find_common_elements(array1, array2)

Common elements in arr1 and arr2: [3, 4, 5]

In [ ]:
#case study 2-introduction to python

Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40,
50, 60):
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine

In [15]:

tuple1 = (10, 20, 30)
tuple2 = (40, 50, 60)

# Concatenate the two tuples
t_combine = tuple1 + tuple2
print("Concatenated tuple:", t_combine)

# Repeat elements of t_combine 3 times
t_repeat = t_combine * 3
print("Repeated tuple:", t_repeat)

# Access the 3rd element
third_element = t_combine[2]
print("3rd element of t_combine:", third_element)

# Access the first three elements
first_three_elements = t_combine[:3]
print("First three elements of t_combine:", first_three_elements)

# Access the last three elements
last_three_elements = t_combine[-3:]
print("Last three elements of t_combine:", last_three_elements)

Concatenated tuple: (10, 20, 30, 40, 50, 60)
Repeated tuple: (10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
3rd element of t_combine: 30
First three elements of t_combine: (10, 20, 30)
Last three elements of t_combine: (40, 50, 60)

Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1, 2, 3
b. Second element is a tuple with values “a”, “b”, “c”
c. Third element is a tuple with values true ,false

In [16]:
# Create a list 'my_list' with tuples as elements
my_list = [
    (1, 2, 3),
    ("a", "b", "c"),
    (True, False)
]

# Print the list to verify
print("my_list:", my_list)

my_list: [(1, 2, 3), ('a', 'b', 'c'), (True, False)]

3. Append a new tuple – (1, ‘a’, True) to ‘my_list’:
a. Append a new list – *“sparta”, 123+ to my_list

In [17]:
# Existing list 'my_list'
my_list = [
    (1, 2, 3),
    ("a", "b", "c"),
    (True, False)
]

# Append a new tuple (1, 'a', True) to my_list
new_tuple = (1, 'a', True)
my_list.append(new_tuple)

# Print my_list after appending the new tuple
print("After appending tuple:", my_list)

# Append a new list ["sparta", 123] to my_list
new_list = ["sparta", 123]
my_list.append(new_list)

# Print my_list after appending the new list
print("After appending list:", my_list)

After appending tuple: [(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]
After appending list: [(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
“Guava”)
b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’

In [18]:
# Create the dictionary 'fruit'
fruit = {
    'Fruit': ("Apple", "Banana", "Mango", "Guava"),
    'Cost': (85, 54, 120, 70)
}

# Print the created dictionary
print("Dictionary 'fruit':", fruit)

# Extract all keys from 'fruit'
keys = list(fruit.keys())

# Print the keys
print("Keys in 'fruit':", keys)

# Extract all values from 'fruit'
values = list(fruit.values())

# Print the values
print("Values in 'fruit':", values)

Dictionary 'fruit': {'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}
Keys in 'fruit': ['Fruit', 'Cost']
Values in 'fruit': [('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)]

create aset named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and
print the result.

In [20]:
# Create a set 'my_set' with values (1, 1, "a", "a", True, True)
my_set = {1, 1, "a", "a", True, True}

# Print the set 'my_set'
print("Set 'my_set':", my_set)

Set 'my_set': {'a', 1}