In [ ]:
numpy(#ASSIGNMENT)

1. Create a list named ‘myList’ that has the following elements: 10, 20, 30,
‘apple’, True, 8.10:
a. Now in the ‘myList’, append these values: 30, 40
b. After that, reverse the elements of the ‘myList’ and store that in
‘reversedList’

In [1]:

myList = [10, 20, 30, 'apple', True, 8.10]

myList.append(30)
myList.append(40)

reversedList = myList[::-1]

print("Original List:", myList)
print("Reversed List:", reversedList)

Original List: [10, 20, 30, 'apple', True, 8.1, 30, 40]
Reversed List: [40, 30, 8.1, True, 'apple', 30, 20, 10]

2. Create a dictionary with key values as 1, 2, 3 and the values as ‘data’,
‘information’ and ‘text’:
a. After that, eliminate the ‘text’ value from the dictionary
b. Add ‘features’ in the dictionary
c. Fetch the ‘data’ element from the dictionary and display it in the output

In [2]:

myDict = {1: 'data', 2: 'information', 3: 'text'}

myDict.pop(3)
myDict[4] = 'features'

data_element = myDict[1]
print("Modified Dictionary:", myDict)
print("Fetched element 'data':", data_element)

Modified Dictionary: {1: 'data', 2: 'information', 4: 'features'}
Fetched element 'data': data

3. Create a tuple and add these elements 1, 2, 3, apple, mango in my_tuple.
4. Create another tuple named numeric_tuple consisting of only integer
values 10, 20, 30, 40, 50:
a. Find the minimum value from the numeric_tuple
b. Concatenate my_tuple with numeric_tuple and store the result in r1
c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’

In [3]:

my_tuple = (1, 2, 3, 'apple', 'mango')

numeric_tuple = (10, 20, 30, 40, 50)

min_value = min(numeric_tuple)
print("Minimum value in numeric_tuple:", min_value)

r1 = my_tuple + numeric_tuple
print("Concatenated tuple r1:", r1)

newdupli = my_tuple * 2
print("Duplicated tuple newdupli:", newdupli)

Minimum value in numeric_tuple: 10
Concatenated tuple r1: (1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)
Duplicated tuple newdupli: (1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

5. Create 2 sets with the names set1 and set2, where set1 contains
{1,2,3,4,5} and set2 contains {2,3,7,6,1}
Perform the below operation:
a. set1 union set2
b. set1 intersection set2
c. set1 difference set2

In [4]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3, 7, 6, 1}

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)

print("Union of set1 and set2:", union_set)
print("Intersection of set1 and set2:", intersection_set)
print("Difference of set1 and set2 (set1 - set2):", difference_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7}
Intersection of set1 and set2: {1, 2, 3}
Difference of set1 and set2 (set1 - set2): {4, 5}