Tasks To Be Performed:
1. Write a function that takes start and end of a range returns a pandas series
object containing numbers within that range.
In case the user does not pass start or end or both they should default to 1
and 10 respectively. E.g:
-> range_series() -> Should Return a pandas series from 1 to 10
range_series(5) -> Should Return a pandas series from 5 to 10
range_series(5, 10) -> Should Return a pandas series from 5 to 15
Create a method that takes n NumPy arrays of the same dimensions,
sums them and returns the answer.

In [1]:
import pandas as pd

def range_series(start=1, end=10):
     return pd.Series(range(start, end + 1))

In [3]:
range_series()

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
range_series(5)

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [6]:
range_series(5,15)

0      5
1      6
2      7
3      8
4      9
5     10
6     11
7     12
8     13
9     14
10    15
dtype: int64

2. Create a function that takes in two lists named keys and values as
arguments
Keys would be strings and contain n string values
Values would be a list containing n lists
The methods should return a new pandas DataFrame with keys as column
names and values as their corresponding values, e.g:
->create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) -> should return a
data frame
One Two
0 X A
1 Y B

In [7]:

def create_dataframe(keys, values):
    df = pd.DataFrame(values, columns=keys)
    return df

keys = ["One", "Two"]
values = [["X", "A"], ["Y", "B"]]

df = create_dataframe(keys, values)
print(df)

  One Two
0   X   A
1   Y   B

3. Create a function that concatenates two DataFrames. Use a previously
created function to create two DataFrames and pass them as parameters
Make sure that the indexes are reset before returning.

In [8]:
def concatenate_dataframes(df1, df2):
   
    concatenated_df = pd.concat([df1, df2], ignore_index=True)
    
    concatenated_df.reset_index(drop=True, inplace=True)
    
    return concatenated_df
    
keys1 = ["One", "Two"]
values1 = [["X", "A"], ["Y", "B"]]
df1 = create_dataframe(keys1, values1)

keys2 = ["One", "Two"]
values2 = [["M", "C"], ["N", "D"]]
df2 = create_dataframe(keys2, values2)

result_df = concatenate_dataframes(df1, df2)
print(result_df)

  One Two
0   X   A
1   Y   B
2   M   C
3   N   D

4. Write code to load data from cars.csv into a dataframe and print its details.
Details like: 'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'.

In [9]:
df = pd.read_csv('cars.csv')

In [10]:
df

      mpg  cylinders cubicinches   hp weightlbs  time-to-60  year     brand
0    14.0          8         350  165      4209          12  1972       US.
1    31.9          4          89   71      1925          14  1980   Europe.
2    17.0          8         302  140      3449          11  1971       US.
3    15.0          8         400  150      3761          10  1971       US.
4    30.5          4          98   63      2051          17  1978       US.
..    ...        ...         ...  ...       ...         ...   ...       ...
256  17.0          8         305  130      3840          15  1980       US.
257  36.1          4          91   60      1800          16  1979    Japan.
258  22.0          6         232  112      2835          15  1983       US.
259  18.0          6         232  100      3288          16  1972       US.
260  22.0          6         250  105      3353          15  1977       US.

[261 rows x 8 columns]

In [16]:
print("Statistical Details:")
print(df.describe(include='all'))

Statistical Details:
               mpg   cylinders cubicinches          hp weightlbs  time-to-60  \
count   261.000000  261.000000         261  261.000000       261  261.000000
unique         NaN         NaN          75         NaN       240         NaN
top            NaN         NaN          97         NaN                   NaN
freq           NaN         NaN          16         NaN         3         NaN
mean     23.144828    5.590038         NaN  106.360153       NaN   15.547893
std       7.823570    1.733310         NaN   40.499959       NaN    2.910625
min      10.000000    3.000000         NaN   46.000000       NaN    8.000000
25%      16.900000    4.000000         NaN   75.000000       NaN   14.000000
50%      22.000000    6.000000         NaN   95.000000       NaN   16.000000
75%      28.800000    8.000000         NaN  138.000000       NaN   17.000000
max      46.600000    8.000000         NaN  230.000000       NaN   25.000000

               year brand
count    261.000000   261
unique          NaN     3
top             NaN   US.
freq            NaN   162
mean    1976.819923   NaN
std        3.637696   NaN
min     1971.000000   NaN
25%     1974.000000   NaN
50%     1977.000000   NaN
75%     1980.000000   NaN
max     1983.000000   NaN

In [17]:
print("\nNumeric Statistical Details:")
print(df.describe())

Numeric Statistical Details:
              mpg   cylinders          hp  time-to-60         year
count  261.000000  261.000000  261.000000  261.000000   261.000000
mean    23.144828    5.590038  106.360153   15.547893  1976.819923
std      7.823570    1.733310   40.499959    2.910625     3.637696
min     10.000000    3.000000   46.000000    8.000000  1971.000000
25%     16.900000    4.000000   75.000000   14.000000  1974.000000
50%     22.000000    6.000000   95.000000   16.000000  1977.000000
75%     28.800000    8.000000  138.000000   17.000000  1980.000000
max     46.600000    8.000000  230.000000   25.000000  1983.000000

5. Write a method that will take a column name as argument and return the
name of the column with which the given column has the highest
correlation.
The data to be used is the cars dataset.
The returned value should not the column named that was passed as the
parameters, e.g. : get_max_correlated_column('mpg') -> should return 'drat

In [21]:
def get_max_correlated_column(df, column_name):
   
    df_numeric = df.apply(pd.to_numeric, errors='coerce')
    
    if column_name not in df_numeric.columns:
        raise ValueError(f"Column '{column_name}' does not exist in the DataFrame.")
    
    corr_matrix = df_numeric.corr()
    
    correlations = corr_matrix[column_name]
    
    highest_corr_column = correlations.drop(column_name).idxmax()
    
    return highest_corr_column

max_corr_column = get_max_correlated_column(df, 'mpg')
print(f"Column with the highest correlation to 'mpg': {max_corr_column}")

Column with the highest correlation to 'mpg': year