Tasks To Be Performed:
1. Create a table in excel, table should have 2 columns named x and y:
a. ‘x’ column should have numbers from 1-5
b. ‘y’ should have numbers 2, 4, 5, 4, 2
c. Now calculate the mean of columns x and y
d. Calculate the mode of column x
e. Calculate the standard deviation of column y
f. At last calculate the range of columns x and y saperately

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

data = {
    'x': [1, 2, 3, 4, 5],
    'y': [2, 4, 5, 4, 2]
}

df = pd.DataFrame(data)

In [2]:
df

   x  y
0  1  2
1  2  4
2  3  5
3  4  4
4  5  2

In [3]:

mean_x = df['x'].mean()
mean_y = df['y'].mean()

In [4]:
mean_x

3.0

In [5]:
mean_y

3.4

In [ ]:

mode_x = df['x'].mode()[0]  # mode() returns a Series, so take the first element

# Step 4: Calculate the standard deviation of column 'y'
std_dev_y = df['y'].std()

# Print results
print(f"Mean of column x: {mean_x}")
print(f"Mean of column y: {mean_y}")
print(f"Mode of column x: {mode_x}")
print(f"Standard deviation of column y: {std_dev_y}")